<!-- hakkında.html -->
{% extends 'layout.html' %}

{% block page_title %}
    Hakımızda
{% endblock %}

{% block content %}
<style>
    body {
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font: 1rem/1.5 var(--bs-font-sans-serif);
        word-spacing: 5px;
        backdrop-filter: blur(10px); 

        background-image: url("https://cdn.pixabay.com/photo/2016/02/10/21/59/landscape-1192669_1280.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed; 
    }

    .about-us img{
        width:100% !important;
        
    }
</style>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 offset-md-2 offset-lg-2">
                <div class="card">
                    <div class="card-body about-us">
                <!-- Content from the Hakkimda model -->
                        <div>{{ hakkimda.content | safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
